2017-2-Progra-Avanzada-master/Ulatina.PrograAvanzada.Calentamiento/Ulatina.PrograAvanzada.AplicacionWeb/Connected Services/OperacionesMatematicas/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64595/Dominio/Servicios/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64595/Dominio/Servicios/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64595/Dominio/Servicios/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ulatina.PrograAvanzada.BLAplicacionWeb" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Sume_InputMessage">
    <wsdl:part name="parameters" element="tns:Sume" />
  </wsdl:message>
  <wsdl:message name="IService1_Sume_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Reste_InputMessage">
    <wsdl:part name="parameters" element="tns:Reste" />
  </wsdl:message>
  <wsdl:message name="IService1_Reste_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Multiplique_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiplique" />
  </wsdl:message>
  <wsdl:message name="IService1_Multiplique_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultipliqueResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Divide_InputMessage">
    <wsdl:part name="parameters" element="tns:Divide" />
  </wsdl:message>
  <wsdl:message name="IService1_Divide_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivideResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WhatDateIsToday_InputMessage">
    <wsdl:part name="parameters" element="tns:WhatDateIsToday" />
  </wsdl:message>
  <wsdl:message name="IService1_WhatDateIsToday_OutputMessage">
    <wsdl:part name="parameters" element="tns:WhatDateIsTodayResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Sume">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Sume" message="tns:IService1_Sume_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SumeResponse" message="tns:IService1_Sume_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reste">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Reste" message="tns:IService1_Reste_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ResteResponse" message="tns:IService1_Reste_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiplique">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Multiplique" message="tns:IService1_Multiplique_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/MultipliqueResponse" message="tns:IService1_Multiplique_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Divide" message="tns:IService1_Divide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DivideResponse" message="tns:IService1_Divide_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WhatDateIsToday">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WhatDateIsToday" message="tns:IService1_WhatDateIsToday_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WhatDateIsTodayResponse" message="tns:IService1_WhatDateIsToday_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Sume">
      <soap:operation soapAction="http://tempuri.org/IService1/Sume" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reste">
      <soap:operation soapAction="http://tempuri.org/IService1/Reste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplique">
      <soap:operation soapAction="http://tempuri.org/IService1/Multiplique" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <soap:operation soapAction="http://tempuri.org/IService1/Divide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WhatDateIsToday">
      <soap:operation soapAction="http://tempuri.org/IService1/WhatDateIsToday" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:64595/Dominio/Servicios/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>