2017-2-Progra-Avanzada-master/Ulatina.PrograAvanzada.Calentamiento/Ulatina.PrograAvanzada.AplicacionWeb/Connected Services/OperacionesMatematicas/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64595/Dominio/Servicios/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ulatina.PrograAvanzada.BLAplicacionWeb" />
  <xs:element name="Sume">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="elOperandoUno" type="xs:double" />
        <xs:element minOccurs="0" name="elOperandoDos" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SumeResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reste">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="elOperandoUno" type="xs:double" />
        <xs:element minOccurs="0" name="elOperandoDos" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResteResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Multiplique">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="elOperandoUno" type="xs:double" />
        <xs:element minOccurs="0" name="elOperandoDos" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultipliqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultipliqueResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Divide">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="elOperandoUno" type="xs:double" />
        <xs:element minOccurs="0" name="elOperandoDos" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DivideResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhatDateIsToday">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WhatDateIsTodayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhatDateIsTodayResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ulatina.PrograAvanzada.BLAplicacionWeb" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ulatina.PrograAvanzada.BLAplicacionWeb" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>